.icons{
  display: flex;
  justify-content: space-between;
  padding : 10px 24px 10px 24px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}
.menu{
  display: none;
  width: auto;
  height: auto;
}
.menu_contain{
  display: grid;
}
.menu_contain i {
  text-align: right;
}
.menu ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu ul li{
  font-size: 12px;
  padding: 10px;
}
#chat_exit{
  cursor: pointer;
  border-radius: 10px;
}
#chat_exit:hover{
  background: rgb(209, 209, 209);
}
.detail {
  display: flex;
  padding : 0 24px 0 24px;
  margin-top: 36px;
}
.chat-room{
  height: 100vh;
  max-height: calc(100vh - 37px);
}
::-webkit-scrollbar{
  display: none;
}
.chat-content {
  z-index: 1;
  height: 450px;
  max-height: calc(100vh - 134px);
  scrollbar-width: none;
  overflow-y: scroll;
  padding: 10px;
  padding-top: 0;
}
.chat-content::-webkit-scrollbar{
  display: none;
}
.chat-list-container {
  border-right: 1px solid rgba(0, 0, 0, 0.534);
  margin-right: 10px;
  padding-right: 10px;
}
.list-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.list-container p {
  margin: 0 10px 0 0;
  font-size: 12px;
}
.list-container2 {
  display: flex;
  align-items: flex-end;
}
.list-container2 p {
  margin: 0 0 0 10px;
  font-size: 12px;
}
.list-container li {
  margin-top: 10px;
  list-style: none;
  max-width: 65%;
}
.list-container2 li {
  margin-top: 10px;
  list-style: none;
  max-width: 65%;
}
.text-small {
  display: none;
}
.chat-box {
  background: rgb(196, 196, 196);
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  float: left;
  border-radius: 50px;
}
.mine {
  float: right;
  background-color: rgb(221, 125, 0);
  color: white;
}
.list-group-item {
  border-radius: inherit;
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
}
.list-group-item h6 {
  z-index: 1;
}
.chat-title{
  margin: 0;
}
.helper {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.time {
  display: inline-block;
}
#send {
  background: rgb(179, 179, 179);
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#chat-input {
  border: none;
  position: absolute;
  top: 5px;
  width: 95%;
  margin-left: 2.5%;
}
#chat-input::placeholder {
  color: #aaaaaa;
}
.input-group input:focus {
  outline: none;
}
.input-group {
  z-index: 2;
  position: absolute;
  bottom: 0;
  height: 100px;
  border-radius: 10px;
  border: solid 1px #969696;
  background: white;
}
